.paginationBttns {
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
    float: right;
  }
  
  .paginationBttns a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #0d6efd;
    color: #000000;
    cursor: pointer;
  }
  
  .paginationBttns a:hover {
    color: white;
    background-color: #0d6efd;
  }
  
  .paginationActive a {
    color: white;
    background-color: #0d6efd;
  }
  
  .paginationDisabled a {
    color: grey;
    background-color: grey;
    display: none;
  }